/* restablecer valores del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}
a{
    text-decoration: none;
}

body{
    background-color: #dddddd;
    justify-content: center;
    width: 100%;
}



/* --inicio de header (cabecera)-- */

.cabecera {
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px #000000;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 10;
}

.logo {
    width: 20%;
    height: 60px;
    padding: 3px 2%;
}

.logo img {
    max-width: 98%;
    max-height: 98%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* logo simple para celulares */
.logo2 {
    display: none;
}

.buscador {
    width: 35%;
    margin-left: 8.5%;
    display: flex;
}

.textBuscar {
    align-items: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: left center;
    width: 90%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    -ms-border-bottom-left-radius: 8px;
    -o-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -ms-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
}

.buscar {
    background-color: #ffffff;
    padding: 5px;
    width: 10%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -ms-border-top-right-radius: 8px;
    -o-border-top-right-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.buscar img {
    max-width: 80%;
    max-height: 80%;

}

.carritoylogin {
    display: flex;
    justify-content: flex-end;
}

.contenedorIcono {
    width: 10%;
    margin: 0px 10%;
}

.contenedorIcono img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    
}

.cabecera a:hover .icono{
    background-color: #e8a01071;
    box-shadow: 0 0 10px#ff6b01;

}

/* menu burger para cel */
.menuPlegable {
    display: none;
}

/* cabecera simple */

.simple {

    justify-content:center;
    
}



/* categorias */
.categorias{
    display: flex;   
    justify-content: center;
    background-color: #ffffff7b;
    width: 100%;
    box-shadow: 0 0 6px #000000;
}
.seleccionComun{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%  4% 2px 4%;
    cursor: pointer;
    height: 30px;
    width: 17%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.seleccionComun p {
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
    font: bold italic 16px/1.5 sans-serif;
    display: none;
}
.seleccionComun img {
    max-width: 98%;
    max-height: 98%;
    margin: 0px;
  
}
.seleccionComun:hover{
    border-radius: 10px;
    background-color: #000000b6;
    box-shadow: 0 0 10px #b4510a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.seleccionComun:hover p{
    display: inline;
}
.seleccionComun:hover img{
    max-width: 200%;
    max-height: 200%;
    margin: 5px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    z-index: 11;
    
}

/* ##################################################################################################### */

.promociones{
    margin: 5px 0 0 0;
    padding: 0;
    height: 10rem;
    display:flex;
    justify-content: center;
    align-items: center;


}

/* ############################################### */
.slider{
    width: 768px;
    height: 155px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #000000;

}

.slides{
    width: 400%;
    height: 10rem;
    display: flex;

}
.slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 1000ms;
    -webkit-transition: 1000ms;
    -moz-transition: 1000ms;
    -ms-transition: 1000ms;
    -o-transition: 1000ms;
}

.slide img{
    width: 768px;
    height: 500px;
}

/* css pra manual slide  navegacion */


.navegacion-manual{
    position: absolute;
    width: 768px;
    margin-top: 8.5rem;
    display: flex;
    justify-content: center;
}
.promImg{
    max-width: 100%;
    max-height: 100%;
    
    border-radius: 5px;  
}

.manual-btn{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ;
    box-shadow: 0px 0px 3px #000000;

}
.manual-btn:not(:last-child){
    margin-right:40px;
}


.manual-btn:hover{
    background: #ff6200;
    box-shadow: 0px 0px 8px #000000;
    border: solid 1px #000000;

}

#radio1:checked ~ .first{
    margin-left: 0;

}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
/* css para navegacion automatica */


/* ##################################################################################################### */
.divisor{
    width: auto;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.divi{
    background-color: #e05d00;
    margin: 1rem;
    width: 90%;
    height: 0.3rem;
}

.contenido{
    display: flex;
    min-height: 90%;
}


aside{
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;


}
.divisorfiltro{
    width: auto;
    height: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.divifiltro{
    background-color: #e05d00;
    width: 90%;
    height: 0.1rem;
}
.filtros{
    padding: 20px;
    width: 90%;
    height: auto;
    overflow: hidden;
    background-color: #ffffffaf;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    justify-content: center;
    align-content: center;
}
.encabezadoFiltro{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.encabezadoFiltro div{
    width: 70%;
}

.encabezadoFiltro img{
    width: 30px;
    height: 30px;
    margin: 1%;
    cursor: pointer;


}
.tipoFiltro{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: 2px #00000069;
    padding-left: 10px;
}
.tipoFiltro:hover{
    background-color: #ff620082;
    cursor: pointer;
    width: 100%;
    padding-left: 20px;
    box-shadow: 0 0 6px #000000;
}

.oculto{
    display: none;
}
.tipoFiltro p{
    margin: 0 10px 0 0;
    color: #3e3e3ec9;
}

.tipoFiltro:hover p{
    color: #1c1c1c;
}




main{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;;
}
.productos{
    width: 15rem;
    height: 20rem;
    background-color:#ffffffda;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.productos:hover{
    box-shadow: 0 0 10px #000000;
    background-color: #ffffff;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}
.productos:hover .precioProd{
    transition: all 200ms;
    font-size:24px;
    text-shadow: 0 0 5px #31ff02;

}

.nombreProd{
    color: #797979;
    font-size: 14px;
    overflow: visible;
    max-height: 20%;
}
.precioProd{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #1b9400;
    text-align: right;
}


.imgProd{
    max-width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.paginacion{
    width: 100%;
    justify-content:center;
    align-content: center;
    display: flex;
    margin: 1rem;
    pading 3rem;
}


.piePagina {
    background-color: #000000;
    height: 50px;
    display: flex;
  }

.piePagina div{
    color:#ffffff;
}

  .paginaproduc{
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: #ff6b01c0;
    color: #ffffff;
    justify-content: center;
    align-content: center;
    margin: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 10px #000000;
}

.paginaproduc:hover{
    cursor: pointer;
    background-color: #000000;
    box-shadow: 0 0 10px #000000;

}
/* ##################################################################################################### */


/* medida para PC de escritorio */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    h1 {
        color: #ff6200;
    }
}

/* medida para portátiles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        color: rgb(0, 255, 89);
    }
    .buscador {
        width: 60%;
    }
}

/* medida para pantallas grandes */
@media screen and (min-width: 1441px) {
    h1 {
        color: rgb(255, 0, 191);
    }

    .cabecera {
        height: 150px;

    }
    .logo {
        width: 20%;
        height: 98%;
    }

    .buscador {
        margin: 0;
    }

    .textBuscar {
        font-size: 32px;
    }
    .carritoylogin {
        height: 100px;
        margin: 0 4%;
        align-items: center;
    }
    .contenedorIcono {
        width: 45%;
        margin: 0px 10%;
    }
    .seleccionComun{
        height: 50px;
    }

    .seleccionComun p {
        color: #b4510a;
        font-size: 50000;
        display: inline;
        text-shadow: none;
    }

}

/* medida para tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
    h1 {
        color: rgb(255, 0, 0);
    }
    .buscador {
        width: 60%;
    }
    .textBuscar {
        width: 85%;
    }
    .buscar {
        width: 15%;
    }
}

/* medida para celulares medianos*/
@media screen and (min-width: 321px) and (max-width: 480px) {
    h1 {
        color: rgb(0, 195, 255);
    }

    .buscador {
        width: 60%;
        margin-left: 0px;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: inline;
        width: 20%;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .logo2 img {
        margin: 10%;
        max-width: 70%;
        max-height: 70%;
    }
    .contenedorIcono {
        display: none;
    }
    .menuPlegable {
        display: inline-block;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .textBuscar {
        width: 90%;
    }
    .buscar {
        width: 10%;
    }
    .menuPlegable img {
        max-width: 90%;
        max-height: 90%;
        margin: 10% 0;
        padding: 0px 20px;
    }
    .buscar img {
        max-width: 90%;
        max-height: 90%;
    }

    .seleccionComun:hover p{
        display: none;
    }
}

/* medida para celulares pequeños */
@media screen and (max-width: 320px) {
    .buscador {
        width: 20%;
        margin-left: 0px;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: inline;
        width: 20%;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .logo2 img {
        margin: 10%;
        max-width: 70%;
        max-height: 70%;
    }
    .contenedorIcono {
        display: none;
    }
    .menuPlegable {
        display: inline-block;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .textBuscar {
        width: 100%;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .buscar {
        display: none;
    }
    .menuPlegable img {
        max-width: 90%;
        max-height: 90%;
        margin: 10% 0;
        padding: 0px 20px;
    }

    .seleccionComun:hover p{
        display: none;
    }
}

